* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 18px;
    color: #c32064;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
}

.cont {
    width: 30%;
    margin: 20px auto;
    border: 2px solid rgb(80, 76, 76)
}

.cont div span {
    margin-left: 35px;
}

.cont div {
    margin-left: 20px;
    padding: 10px;
}